:root {
    --main-spot-color: #1DB954;
    --accent-color: #91cc96;
    --button-font-size: 20px;
}

#left {
    width: 40%;
    float: left;
    background-color: #181818;
    color: white;
    padding: 2%;
    margin-right: 1%;
    border-radius: 50px;
}

#right {
    width: 40%;
    float: right;
    flex-grow: 1;
    background-color: #181818;
    color: white;
    padding: 2%;
    margin-left: 1%;
    border-radius: 50px;
}

#sidebar {
    height: 100vh;
    width: 20%;
    color: white;
    padding-right: 2%;
    text-align: center;
}

#sidebar h1 {
    font-size: 35px;
}

#header {
    display: none;
    left: 0;
    top: 0px;
    width: 100%;
    background-color: var(--main-spot-color);

    padding: 2%;
}

#header a button {
    width: 48%;
    border-color: #000000 !important;
    border-style: solid;
    border-width: 2px;
}

#footer {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--main-spot-color);

    padding: 2%;
    padding-bottom: 0%;
}

@media only screen and (max-width: 1080px) {
    #sidebar {
        display: none;
    }
    #header {
        display: block;
    }

    #footer {
        display: block;
    }

    #left,#right {
        width: 50% !important;
        padding: 3%;
        border-radius: 20px;

    }

    #left, #right p {
        font-size: 16px;
    }

    :root {
    --button-font-size: 15px;
}
}

#outer {
    width: 100%;
    display: flex;
    padding: 2%;
    padding-top: 1%;
    margin: 0;
    position: absolute;
}

html,
body {
    max-width: 100%;
    background-color: #000000;
    /* Hide scrollbars */
}

form {
    display: flex;
    flex-direction: column;
    height: 10vh;
}

form button {
    font-size: var(--button-font-size);
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    margin: auto;
    padding: 5px;
    background-color: var(--main-spot-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 5vh;

    border-color: #000000 !important;
    border-style: solid;
}

a button {
    font-size: var(--button-font-size) !important;
    background-color: var(--main-spot-color) !important;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 5vh;
    width: 100%;
    margin: 2px;

    border-color: #000000 !important;
    border-style: solid;
}

a {
    font-size: var(--button-font-size) !important;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

p {
    font-size: 20px;
}