.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

#pfp {
    height: 100%;
}

.playlist-item {
    cursor: pointer;
    padding: 6px 10px;
}

.playlist-item:hover {
    background-color: var(--main-spot-color);
}

.playlist-item.selected {
    background-color: var(--accent-color);
    font-weight: bold;
    border-left: 4px solid var(--main-spot-color);
}