:root {
  --main-spot-color: #1DB954;
  --accent-color: #91cc96;
}

#left {
    width: 40%;
    float: left;
    background-color: #181818;
    color: white;
    padding: 2%;
    margin-right: 1%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#right {
    float: right;
    width: 40%;
    flex-grow: 1;
    background-color: #181818;
    color: white;
    padding: 2%;
    margin-left: 1%;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#sidebar {
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    color: white;
    padding-right: 2%;
}

#outer {
    width: 100%;
    display: flex;
    padding: 2%;
    padding-top: 1%;
    margin: 0;
    position: absolute;
}


.material-icons {
    font-size: 5vw;
}

.sign-in {
    text-align: center;
    font-weight: 900;
    font-size: 10.5vw;
}

html,
body {
    max-width: 100%;
    background-color: #000000;
    /* Hide scrollbars */
}

.playlist-item {
    cursor: pointer;
    padding: 6px 10px;
}

.playlist-item:hover {
    background-color: var(--main-spot-color);
}

.playlist-item.selected {
    background-color: var(--accent-color);
    font-weight: bold;
    border-left: 4px solid var(--main-spot-color);
}

form {
    display: flex;
    flex-direction: column;
    height: 10vh;
}

form button {
    font-size: 40px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--main-spot-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 5vh;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

p {
    font-size: 25px;
}

