{% extends "base.html" %}

{%block title %}
<title>Error</title>
{%endblock%}

{% block main %}
<!--wooo nothing is playing rn-->
<div id="outer">
    <div id="center">
        <h1 style="color: white;" class="not-playing">Error Encountered</h1>
        <h2 style="color: white;" class="text">{{error}}</h2>

        <a style="color: white;" onclick="reload()" id="reload-button" class="btn btn-default media-control-button"><i
                class="material-icons">refresh</i></a>

        <a style="color: white;" href="/" id="home-button" class="btn btn-default media-control-button"><i
                class="material-icons">home</i></a>
    </div>
</div>

<script>
    function reload() {
        location.reload();
    }
</script>

{% endblock %}